*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --background: #15202b;
    --text: #f7f9f9;
    --text-overview: #8B98A5;
    --background-second: #192734;
    --background-three: #22303c;
    --highlights: #55acee;
}

body{
    background-color: var(--background);
    display: flex;
    height: 100vh;
    max-width: 1300px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
}

.header{
    border-right: 1px solid var(--text-overview);
    min-width: 250px;
    padding-left: 20px;
    padding-right: 50px;
    
    height: 100%;
}

.icon{
    font-size: 20px;
    padding: 14px;
}

.sidebaroption{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--text);
    padding: 5px;
    flex: 0.2;
}

.sidebaroption h2{
    font-size: 20px;
    margin-left: 20px;
    font-weight: 400;
}

.sidebaroption:hover{
    background-color: var(--background-three);
    border-radius: 999px;
    padding-right: 10%;
    transition: .5s;
    font-weight: bold;
    width: fit-content;
}

.fa-twitter{
    font-size: 30px;
    color: var(--text);
}

.side-bar-tweet{
    width: 100%;
    background-color: var(--highlights);
    font-size: 18px;
    padding: 5%;
    text-align: center;
    border-radius: 999px;
    color: var(--text);
    height: 50px;
    margin-top: 16px;
    border: none;
    font-weight: bold;
}

.Perfil{
    margin-top: 70%;
    display: flex;
    padding: 12px;
    align-items: center;
}

.Perfil img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.text-perfil{
    font-size: 15px;
}

.text-perfil h3{
    color: var(--text);
}

.text-perfil p{
    color: var(--text-overview);
    font-weight: 400;
}

.feed{
    flex: 0.6;
    border-right: 1px solid var(--text-overview);
    z-index: 2;
}

.menu{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    border-bottom: 1px solid var(--text-overview);
}

.menu a{
    text-decoration: dotted;
    height: 50px;
    color: var(--text-overview);
}

#paravoce{
    width: 45%;
    text-align: center;
    font-weight: 700;
}

#seguindo{
    width: 45%;
    text-align: center;
}

#config{
    width: 10%;
    text-align: center;
    color: var(--text);
}

/* Tweet */

.tweet-box-input img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.tweet-box{
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-overview);
    padding-right: 10px;
}

form{
    display: flex;
    flex-direction: column;
}

.tweet-box-input{
    display: flex;
    padding: 20px;
}

.tweet-box-input input{
    flex: 1;
    margin-left: 20px;
    border-style: none;
    outline-style: none;
    background-color: var(--background);
    color: var(--text);
    font-size: 20px;
}

.tweet-button{
    background-color: var(--highlights);
    border-radius: 999px;
    color: var(--text);
    margin-left: 48.6%;
    height: 40px;
    width: 80px;
    border: none;
}

.bar-post{
    padding: 16px;
    padding-bottom: 0;
    padding-top: 8px;
    color: var(--highlights);
}